csharp/hello-world/.vs/
csharp/hello-world/bin/
csharp/hello-world/obj/
teams/padawan-2020-maringa/csharp/hello-world/
teams/padawan-2020-maringa/csharp/two-fer/.vs/
teams/padawan-2020-maringa/csharp/two-fer/bin/
teams/padawan-2020-maringa/csharp/two-fer/obj/
teams/padawan-2020-maringa/csharp/leap/.vs/Leap/DesignTimeBuild/.dtbcache.v2
teams/padawan-2020-maringa/csharp/leap/.vs/Leap/v16/.suo
teams/padawan-2020-maringa/csharp/leap/bin/Debug/netcoreapp3.0/Leap.deps.json
teams/padawan-2020-maringa/csharp/leap/bin/
teams/padawan-2020-maringa/csharp/leap/obj/
teams/padawan-2020-maringa/csharp/gigasecond/.vs/
teams/padawan-2020-maringa/csharp/gigasecond/bin/Debug/netcoreapp3.0/Gigasecond.deps.json
teams/padawan-2020-maringa/csharp/gigasecond/bin/
teams/padawan-2020-maringa/csharp/gigasecond/obj/
teams/padawan-2020-maringa/csharp/resistor-color/.vs/
teams/padawan-2020-maringa/csharp/resistor-color/bin/
teams/padawan-2020-maringa/csharp/resistor-color/obj/
teams/padawan-2020-maringa/csharp/allergies/.vs/
teams/padawan-2020-maringa/csharp/allergies/bin/
teams/padawan-2020-maringa/csharp/allergies/obj/Allergies.csproj.nuget.dgspec.json
teams/padawan-2020-maringa/csharp/allergies/obj/
teams/padawan-2020-maringa/csharp/grade-school/.vs/GradeSchool/DesignTimeBuild/.dtbcache.v2
teams/padawan-2020-maringa/csharp/grade-school/.vs/GradeSchool/v16/.suo
teams/padawan-2020-maringa/csharp/grade-school/obj/GradeSchool.csproj.nuget.dgspec.json
teams/padawan-2020-maringa/csharp/grade-school/obj/
