csharp/hello-world/.vs/
csharp/hello-world/bin/
csharp/hello-world/obj/
teams/padawan-2020-maringa/csharp/hello-world/
teams/padawan-2020-maringa/csharp/two-fer/.vs/
teams/padawan-2020-maringa/csharp/two-fer/bin/
teams/padawan-2020-maringa/csharp/two-fer/obj/
teams/padawan-2020-maringa/csharp/leap/.vs/Leap/DesignTimeBuild/.dtbcache.v2
teams/padawan-2020-maringa/csharp/leap/.vs/Leap/v16/.suo
teams/padawan-2020-maringa/csharp/leap/bin/Debug/netcoreapp3.0/Leap.deps.json
teams/padawan-2020-maringa/csharp/leap/bin/
teams/padawan-2020-maringa/csharp/leap/obj/
